attrs==17.4.0
cycler==0.10.0
matplotlib==2.1.2
numpy==1.14.0
pluggy==0.6.0
py==1.5.2
pyfrc==2018.2.1
pynetconsole==2.0.2
pynetworktables==2018.0.1
pyparsing==2.2.0
pytest==3.4.1
python-dateutil==2.6.1
pytz==2017.3
robotpy-ctre==2018.2.5
robotpy-hal-base==2018.1.4
robotpy-hal-sim==2018.1.4
robotpy-installer==2018.0.2
robotpy-wpilib-utilities==2018.1.2
six==1.11.0
wpilib==2018.1.4
